<% include ../layout/header %>
	<%
		var title = getTitleByUserRole(user_role)

	%>
	<h2> <%= title.index %> </h2>

	<ul id="list-payments">

		<% 
			var date_group = "";
			payments.forEach(function(payment) { 

				var class_price = getClassByStatus(user_role, payment.status);
				var user_info = payment[invertUserRole(user_role)]
				date_group = groupDateDiv(date_group, moment(payment.date_created).lang("pt").format('DD [de] MMMM'));
		%>

			<%- date_group.div %>
	        <li class="payment">

	        	<div class="detail_item">
		        	<div class="regular-payments-icon"></div>

					<div class="detail_item_info">
						<div class="transaction_amount <%= class_price %>">

							<%- getFormatClassAmount(payment.transaction_amount) %>

						</div>

		        		<span class="description"><%= payment.description %></span>
		        		<a class="payer_email" href="mailto:<%= user_info.email %>"><%= user_info.email %></a>
		        	</div>

					<div class="detail_item_info">
						<div class="box-status">
				        	<span class="status"><%= payment.status %></span>
				        	| <span class="status_detail"><%= payment.status_detail %></span>
			        	</div>
			        	<span class="payer_nickname"><%= user_info.nickname %></span>
					</div>

					<div class="detail_item_info">
		        		<a href="/payment/details/<%= payment.id %>" class="view_detail">Ver detalhe</a>
		        	</div>
	        	</div>

	        </li>
	    <% }); %>
	</ul>

	<%- makePaginator(paging) %>
	

<% include ../layout/footer %>

